<ul>
    {% for breadcrumb in breadcrumbs %}
        {% if loop.last %}
            <li class="lastItem">
        {% else %}
            <li>
        {% endif %}
        {% if breadcrumb.target is null or loop.last %}
            {{ breadcrumb.linkName|trans }}
        {% else %}
            <a href="{{ breadcrumb.target }}">{{ breadcrumb.linkName|trans }}</a>
            {{ separator }}
        {% endif %}
        </li>
    {% endfor %}
</ul>